<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716002625215-6olev41ujiga0rnj52eksj6ltmb3irhg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716002625215-6olev41ujiga0rnj52eksj6ltmb3irhg</string>
	<key>API_KEY</key>
	<string>AIzaSyD2ioqSGnR_v6RXDLMStHxQ6rlnEP83qAk</string>
	<key>GCM_SENDER_ID</key>
	<string>716002625215</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appCoffeeManage</string>
	<key>PROJECT_ID</key>
	<string>coffeemanageapp</string>
	<key>STORAGE_BUCKET</key>
	<string>coffeemanageapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716002625215:ios:3587770bffd958c5e5a80a</string>
	<key>DATABASE_URL</key>
	<string>https://coffeemanageapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>